<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf8">
  <title>Tytuł dokumentu</title>
  <link rel="stylesheet" type="text/css" href="./ksiaz.css">
</head>
<body>
  <div id="main">
    <H1> Tytuł drugiej stronki  </H1>
  Druga stronka.
    <table border="1">
      <tr><td>&nbsp;</td><th>1</th><th>2</th><th>3</th></tr>
      <tr><th>po polsku</th><td>one</td><td>dwa</td><td>trzy</td></tr>
      <tr><th>po angielsku</th><td>one</td><td>two</td><td>three</td></tr>
    </table>


  </div>
  <div id="menu">
    Menu
    <ul>
      <li><a href="./Pierwsza.html">Strona główna</a></li>
      <li><a href="druga.html">Druga stronka</a></li>
    </ul>
  </div>
</body>
</html>
