<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title>Tytuł dokumentu</title>
    <link rel="stylesheet" type="text/css" href="./ksiaz.css">
</head>
<body>
  <div id="menu">
    Menu
    <ul>
      <li><a href="./Pierwsza.html">Strona główna</a></li>
      <li><a href="druga.html">Druga stronka</a></li>
    </ul>
  </div>
  <div id="main">
  <H1>Tytuł</H1>
  Pierwsza linia.<BR>
  Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. 
  Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. 
  Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. 
  Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. Druga linia tekstu. 
  <ol>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
    <li>Punkt</li>
  </ol>

  <A href="druga.html">Druga strona serwisu</A>
  Zażółć gęśłą jaźń.
  </div>

</body>
</html>